<template>
  <div  class="bg-img2 mr-n2">
    <div class="bg-img3">
      <div class="bg-img">
        <b-row align-h="end" align-v="center" class="h-100">
          <b-col cols="8" class="text-center mt-3">
            <b-img src="../assets/image/Group 65.png"></b-img>
            <div class="mb-5 mt-2">
              <span class="text-white h2 font-weight-bold"
                >همراه همیشگی شما و کودک دلبندتان</span
              >
            </div>
            <b-button class="px-1 py-2" pill variant="primary"
              ><span
                style="border: 2px dashed white"
                class="rounded-pill px-4 py-1"
                >ادامه</span
              ></b-button
            >
          </b-col>
          <b-col class="mt-n5" cols="2">
            <div
              role="button"
              style="width: 50px; height: 50px"
              class="rounded-circle bg-primary text-center pt-2"
            >
              <i class="fa fa-chevron-up text-white"></i>
            </div>
            <div
              role="button"
              style="width: 50px; height: 50px"
              class="rounded-circle bg-primary text-center pt-2 mt-3"
            >
              <i class="fa fa-chevron-down text-white"></i>
            </div>
          </b-col>
        </b-row>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SectionComponent',
}
</script>

<style scoped>
.bg-img {
  background-image: url('../assets/image/Group 9202.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 638px;
}
.bg-img2 {
  background-image: url('../assets/image/Intersection 2.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 1366px;
  height: 638px;
}

.bg-img3 {
  background-image: url('../assets/image/Intersection 1.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 1366px;
  height: 638px;
}
</style>