<template>
  <div>
    <b-img
      class="position-absolute"
      style="right: 0"
      src="../assets/image/Group 17040.png"
      alt=""
    ></b-img>
    <b-row
      class="ml-2 border-bottom"
      style="height: 64px"
      align-h="center"
      align-v="center"
    >
      <b-nav>
        <b-nav-item
          v-for="(item, i) in menu"
          :key="i"
          exact-active-class="activeMenu"
          :to="item.to"
          class="items"
          @click="showCard(item)"
        >
          <div class="-mx font-weight-bold font-14 text-dark">
            <i
              class="h6 text-blue"
              :class="{ 'fa fa-home': item.name === 'کیدی' }"
            ></i>
            {{ item.name }}
          </div>

          <!-- <div class="activeline"></div> -->
        </b-nav-item>
        <div
          v-if="show"
          class="
            card-header
            border-blue
            rounded
            text-right
            position-absolute
            bg-primary
          "
        >
          <hr
            style="margin-top: -12px; height: 4px; width: 100%"
            class="bg-blue rounded"
          />
          <div class="mt-4">
            <span role="button" class="cursor-pointer text-white mr-3"
              >ارزش اصلی</span
            >
            <hr class="bg-white" />
            <span role="button" class="text-white mr-3">چشم انداز</span>
          </div>
          <div class="line mr-4"></div>
        </div>
      </b-nav>
    </b-row>
    <!-- section 2 -->
    <b-row class="mt-2">
      <b-col>
        <b-row align-h="center">
          <div class="circle1 rounded-circle">
            <div class="rounded-circle bg-yellow circle2 text-center mx-auto pt-2">
              <i class="fa fa-map-marker-alt text-white h3 "></i>
            </div>
          </div>
          <div class="circle1 rounded-circle mx-3">
            <div class="rounded-circle bg-primary circle2 mx-auto"></div>
          </div>
          <div class="circle1 rounded-circle">
            <div class="rounded-circle bg-blue circle2 mx-auto"></div>
          </div>
        </b-row>
      </b-col>
      <b-col cols="4">
        <b-row align-h="center">
          <b-img src="../assets/image/Group 13.png"></b-img>
        </b-row>
      </b-col>
      <b-col>
        <b-row align-h="center">
          <div class="circle1 rounded-circle">
            <div
              class="position-relative rounded-circle bg-blue circle2 mx-auto"
            >
              <div
                class="
                  position-absolute
                  bg-dark
                  text-white
                  rounded-circle
                  title-circle
                "
              >
                <span>3</span>
              </div>
            </div>
          </div>
          <div class="circle1 rounded-circle mx-3">
            <div
              class="
                position-relative
                rounded-circle
                bg-primary
                circle2
                mx-auto
              "
            >
              <div
                class="
                  position-absolute
                  bg-dark
                  text-white
                  rounded-circle
                  title-circle
                "
              >
                <span>3</span>
              </div>
            </div>
          </div>
          <div class="circle1 rounded-circle">
            <div class="rounded-circle bg-yellow circle2 mx-auto"></div>
          </div>
        </b-row>
      </b-col>
    </b-row>
    <!--  -->
  </div>
</template>

<script>
export default {
  name: 'TopHeader',
  data() {
    return {
      show: false,
      menu: [
        {
          name: 'کیدی',
          to: '/',
        },
        {
          name: 'درباره ما',
          to: '#',
        },
        {
          name: 'کیدی باکس',
          to: '#1',
        },
        {
          name: 'کیدی شاپ',
          to: '#2',
        },
        {
          name: 'اخبار و بلاگ',
          to: '#3',
        },

        {
          name: 'گالری مشتریان',
          to: '#4',
        },

        {
          name: 'تماس با ما',
          to: '#5',
        },
      ],
    }
  },
  methods: {
    showCard(item) {
      if (item.name === 'درباره ما') {
        this.show = !this.show
      } else {
        this.show = false
      }
    },
  },
}
</script>

<style scoped>
.items:hover {
  height: 35px;
  border-bottom: 8px solid #6fc8f2;
  transition: all 200ms;
}

.circle2 {
  width: 48px;
  height: 48px;
  margin-top: 2px;
}
.circle1 {
  width: 55px;
  height: 55px;
  border: 1px dashed black;
}
.card-header {
  width: 201px;
  height: 149px;
  right: 34.5%;
  top: 8%;
}
.-mx {
  margin-left: -4px;
  margin-right: -4px;
}
.activeMenu {
  height: 35px;
  border-bottom: 8px solid #6fc8f2;
}
.line {
  background-image: url('../assets/image/Group 16931.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 60px;
  height: 10px;
}
.title-circle {
  height: 30px;
  width: 30px;
  top: -8px;
  margin-right: -5px;
  padding-left: 9px;
}
</style>
